@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	src: local('Noto Sans'), local('NotoSans'), url('/static/fonts/Noto Sans.ttf');
}
@import 'https://fonts.googleapis.com/css?family=Noto+Sans';

* {
	font-family: inherit;
}
code, output {
	font-family: monospace;
}
html {
	font-family: 'Noto Sans';
	height: 100%;
}
table {
	border-collapse: collapse;
}
td, th, tr {
	padding: 0.25em;
}
